name: Docker Image CI

on:
  push:
    branches: [ main ]
#   pull_request:
#     branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)


  build-tinyfec:
    runs-on: ubuntu-latest
    steps:
      - name: Set Variables
        run: |
          echo "TINYVPN_VERSION=$(curl -fsSL https://api.github.com/repos/wangyu-/tinyfecvpn/releases/latest | grep '"tag_name":' | head -n 1 | sed -E 's/.*"([^"]+)".*/\1/')" >> $GITHUB_ENV
          cat $GITHUB_ENV
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build tinyfec and push
        id: docker_build_tinyfec
        uses: docker/build-push-action@v2
        with:
          context: ./tinyfec
          file: ./tinyfec/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64,linux/ppc64le
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/tinyfec:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/tinyfec:${{ env.TINYVPN_VERSION }}
          
      - name: Image digest
        run: |
          echo ${{ steps.docker_build_tinyfec.outputs.digest }}
